html{
  font-size: 16px;
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1{
  font-size: 4.5em;
}

body{
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-size: 62.5%; /*1em=16px*/
}

img{
  max-width: 100%;
}

$bright-orange: #FF7200;
$feature-intro-height: 800px;

.hero-unit--overview{
  width: 100%;
  float: left;
  background: url("mobile-restaurant.png");
  height: 761px;
  background-position: 10% 10%;
  background-size: cover;
  @media screen and (max-width: 600px){
    height: 900px;
  }
}
.content{
  width: 90%;
  height: 761px;
  //background: red;
  margin: 0 auto;
  @media screen and (max-width: 600px){
    height: 850px;
  }
}

.burger-menu{
  display: none;
  cursor: pointer;
  padding: 12px 0;
  float: right;
  margin-top: 16px;
  span{
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: white;
    transition: all .2s ease-in-out;

    &:before, &:after {
      position: absolute;
      background: white;
      content: '';
      width: 20px;
      height: 4px;
      transition: all .2s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
  @media screen and (max-width: 1200px){
    display: inline;
    margin-top: 35px;
  }
}
.burger-menu.active{
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.hero-unit__navigation{
  // background: blue;
  float: left;
  width: 100%;
  height: 100px;
}

.hero-unit__logo{
  float: left;
  width: 20%;
  height: 60px;
  margin: 20px 0 20px 0;
  //background: red;
  img{
    padding: 10px 0 0 0;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 1200px){
    width: 30%;
  }
}

.hero-unit__navigation-links{
  width: 60%;
  height: 60px;
  //background: green;
  float: left;
  margin: 20px 0 20px 0;
  ul{
    text-align: center;
    margin: 20px 0 20px 0;
  }
  li{
    padding: 6% 0 0 0;
    display: inline;
    font-size: 1.9em;
    margin-right: 4%;
    a{
      text-decoration: none;
      color: white;
      &:hover{
        padding-bottom: 10px;
        border-bottom: 1px solid white;
      }
    }
  }
  @media screen and (max-width: 1200px){
    display: none;
  }
}

.hero-unit__login{
  float: left;
  width: 20%;
  height: 60px;
  // background: red;
  margin: 20px 0 20px 0;
  @media screen and (max-width: 1200px){
    display: none;
  }
}

.hero-unit__hero-head{
  margin-top: 80px;
  float: left;
  width: 100%;
  // background: red;
  @media screen and (max-width: 800px){
    margin-top: 40px;
  }
}
.hero-unit__hero-head__title{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h1{
    color: white;
  }
  // background: green;
  @media screen and (max-width: 1200px){

  }
}
.hero-unit__hero-head__title-bullets{
  width: 100%;
  float: left;
  text-align: center;
  span{
    display: inline;
    color: white;
    font-style: italic;
    margin-left:2%;
    margin-right: 2%;
    font-size: 2.2em;
    &:before{
      position: relative;
      top: -6px;
      right: 10px;
      content: "";
      display: inline-block;
      width: 0.2em;
      height: 0.2em;
      border-radius: 50%;
      background: white;
    }
  }
  @media screen and (max-width: 1200px){

  }
}

.hero-unit__form-container{
  margin-top: 120px;
  width: 100%;
  height: 70px;
  float: left;
  @media screen and (max-width: 800px){
    margin-top: 60px;
    height: 200px;
  }
  @media screen and (max-width: 800px){
    margin-top: 30px;
  }
  @media screen and (max-width: 600px){
    margin-bottom: 40px;
  }
}

.hero-unit__form-background{
  margin: 0 auto;
  width: 70%;
  height: 90px;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
  -webkit-border-radius: 5px;
  padding: 27.5px 1% 27.5px 1.6%;
  @media screen and (max-width: 1200px){
    width: 100%;
  }
  @media screen and (max-width: 800px){
    width: 80%;
    height: 225px;
    padding: 27.5px 4% 27.5px 4%;
  }
  @media screen and (min-width: 1400px){
    width: 60%;
  }
}

.get-started{
  float: left;
  width: 100%;
  height: 70px;
  input[type=text-area], select{
    float: left;
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 1%;
    border: none;
    width: 24%;
    margin-right: 0.75%;
    font-size: 1.8em;
    @media screen and (max-width: 800px){
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.btn-success{
  float: left;
  width: 24%;
  height: 35px;
  background: $bright-orange;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  line-height: 35px;
  font-size: 1.8em;
  text-align: center;
  @media screen and (max-width: 800px){
    float: none;
    width: 100%;
  }
}

.btn-primary{
  margin-top: 10px;
  float: right;
  width: 110px;
  height: 40px;
  background: #4A90E2;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  font-size: 1.8em;
  text-align: center;
}

.pattern-orange{
  width: 25%;
  position: absolute;
  top: 0;
  img{
    width: 100%;
  }
}
.cloud{
  width: 25%;
  position: absolute;
  top: 40px;
  right: 40px;
  img{
    width: 100%;
  }
}

.feature-intro{
  position: relative;
  width: 100%;
  height: $feature-intro-height;
  float: left;
  background: $bright-orange;
}

.feature-intro__content{
  margin: 0 auto;
  height: $feature-intro-height;
  width: 90%;
  // background: green;
}


.intro-text{
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 800px;
  .intro-text__copy{
    margin-top: 60px;
    float: left;
    text-align: center;
    p{
      font-size: 2.2em;
      line-height: 2.1em;
      color: white;
    }
  }
}
