html{
  font-size: 16px;
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1{
  font-size: 4.5em;
}
h2{
  font-size: 3.5em;
}
h3{
  font-size: 2.5em;
}
body{
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-size: 62.5%; /*1em=16px*/
}

img{
  max-width: 100%;
}

footer{
  background: #2B2B2B;
  height: 450px;
  position: relative;
  float: left;
  width: 100%;
}

$light-gray: #979797;
$charcoal: #4A4A4A;
$body-text-color: #222222;
$baby-blue: #4A90E2;
$bright-orange: #FF7200;
$feature-intro-height: 706px;
$body-font-size: 2.2em;
$featurette-block-height: 614px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.hero-unit--overview{
  width: 100%;
  float: left;
  background: url("mobile-restaurant.png");
  height: 761px;
  background-position: 10% 10%;
  background-size: cover;
  @media screen and (max-width: 778px){
    height: 900px;
  }
}
.content{
  width: 90%;
  height: 761px;
  //background: red;
  margin: 0 auto;
  @media screen and (max-width: 600px){
    height: 850px;
  }
}

.burger-menu{
  display: none;
  cursor: pointer;
  padding: 12px 0;
  float: right;
  margin-top: 16px;
  span{
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: white;
    transition: all .2s ease-in-out;

    &:before, &:after {
      position: absolute;
      background: white;
      content: '';
      width: 20px;
      height: 4px;
      transition: all .2s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
  @media screen and (max-width: 1200px){
    display: inline;
    margin-top: 35px;
  }
}
.burger-menu.active{
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.hero-unit__navigation{
  // background: blue;
  float: left;
  width: 100%;
  height: 100px;
}

.hero-unit__logo{
  float: left;
  width: 20%;
  height: 60px;
  margin: 20px 0 20px 0;
  //background: red;
  img{
    padding: 10px 0 0 0;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 1200px){
    width: 30%;
  }
}

.hero-unit__navigation-links{
  width: 60%;
  height: 60px;
  //background: green;
  float: left;
  margin: 20px 0 20px 0;
  ul{
    text-align: center;
    margin: 20px 0 20px 0;
  }
  li{
    padding: 6% 0 0 0;
    display: inline;
    font-size: 1.9em;
    margin-right: 4%;
    a{
      text-decoration: none;
      color: white;
      &:hover{
        padding-bottom: 10px;
        border-bottom: 1px solid white;
      }
      &:active{
        padding-bottom: 10px;
        border-bottom: 1px solid white;
      }
    }
  }
  @media screen and (max-width: 1200px){
    display: none;
  }
}

.hero-unit__login{
  float: left;
  width: 20%;
  height: 60px;
  // background: red;
  margin: 20px 0 20px 0;
  @media screen and (max-width: 1200px){
    display: none;
  }
}

ul#actions{
  display:none;
  list-style: none;
  padding: 0;
  text-align: left;
  a{
    color: white;
    text-decoration: none;
  }
  li{
    padding: 10px 10px 10px 20px;
    &:hover{
      background: #487EBE;
      @include border-radius(5px);
    }
  }
}
.btn-primary:hover ul#actions{
  display: block;
  position: relative;
  top: -26px;
  right: 80px;
  background: $baby-blue;
  color: white;
  width: 190px;
  @include border-radius(5px);
}


.hero-unit__hero-head{
  margin-top: 80px;
  float: left;
  width: 100%;
  // background: red;
  @media screen and (max-width: 800px){
    margin-top: 40px;
  }
}
.hero-unit__hero-head__title{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h1{
    color: white;
  }
  // background: green;
  @media screen and (max-width: 1200px){

  }
}
.hero-unit__hero-head__title-bullets{
  width: 100%;
  float: left;
  text-align: center;
  span{
    display: inline;
    color: white;
    font-style: italic;
    margin-left:2%;
    margin-right: 2%;
    font-size: 2.2em;
    &:before{
      position: relative;
      top: -6px;
      right: 10px;
      content: "";
      display: inline-block;
      width: 0.2em;
      height: 0.2em;
      border-radius: 50%;
      background: white;
    }
  }
  @media screen and (max-width: 1200px){

  }
}

.hero-unit__form-container{
  margin-top: 120px;
  width: 100%;
  height: 70px;
  float: left;
  @media screen and (max-width: 800px){
    margin-top: 60px;
    height: 200px;
  }
  @media screen and (max-width: 800px){
    margin-top: 30px;
  }
  @media screen and (max-width: 600px){
    margin-bottom: 40px;
  }
}

.hero-unit__form-background{
  margin: 0 auto;
  width: 70%;
  height: 90px;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
  -webkit-border-radius: 5px;
  padding: 27.5px 1% 27.5px 1.6%;
  @media screen and (max-width: 1200px){
    width: 100%;
  }
  @media screen and (max-width: 800px){
    width: 80%;
    height: 225px;
    padding: 27.5px 4% 27.5px 4%;
  }
  @media screen and (min-width: 1400px){
    width: 60%;
  }
}

.get-started{
  float: left;
  width: 100%;
  height: 70px;
  input[type=text-area], select{
    float: left;
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 1%;
    border: none;
    width: 24%;
    margin-right: 0.75%;
    font-size: 1.8em;
    @media screen and (max-width: 800px){
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.btn-success{
  float: left;
  width: 24%;
  height: 35px;
  background: $bright-orange;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  line-height: 35px;
  font-size: 1.8em;
  text-align: center;
  cursor: pointer;
  @media screen and (max-width: 800px){
    float: none;
    width: 100%;
  }
}

.btn-primary{
  margin-top: 10px;
  float: right;
  width: 110px;
  height: 40px;
  background: #4A90E2;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  font-size: 1.8em;
  text-align: center;
  cursor: pointer;
}

.pattern-orange{
  width: 25%;
  position: absolute;
  top: 0;
  img{
    width: 100%;
  }
}
.cloud{
  width: 25%;
  position: absolute;
  top: 40px;
  right: 40px;
  img{
    width: 100%;
  }
}
.mac-iphone{
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0px;
  display: inline;
  img{
    width: 100%;
  }
  @media screen and(max-width: 1280px){
    width: 50%;
    margin-top: 80px;
  }
  @media screen and(min-width: 1800px){
    width: 40%;
    margin-top: 80px;
  }
  @media screen and(max-width: 1080px){
    width: 90%;
  }
  @media screen and(min-width: 2000px){
    width: 35%;
    margin-top: 80px;
  }
}

.feature-intro{
  position: relative;
  width: 100%;
  height: $feature-intro-height;
  float: left;
  background: $bright-orange;
  @media screen and(max-width: 1080px){
    height: $feature-intro-height + 450px;
  }
  @media screen and(max-width: 1080px){
    height: $feature-intro-height + 400px;
  }
}

.feature-intro__content{
  position: relative;
  z-index: 1;
  margin: 0 auto;
  height: $feature-intro-height;
  width: 90%;
  // background: green;
}
.feature-intro__list{
  position: relative;
  width: 100%;
}
.icon-engage{
  background: url("icon-engage.png");
  background-repeat: no-repeat;
}
.icon-customer{
  background: url("icon-customer.png");
  background-repeat: no-repeat;
}
.icon-target{
  background: url("icon-target.png");
  background-repeat: no-repeat;
}
.icon-roi{
  background: url("icon-roi.png");
  background-repeat: no-repeat;
}

.feature-intro__points{
  width: 50%;
  float: left;
  margin-left: 5%;
  display: inline;
  @media screen and (max-width: 1680px){
    width: 50%;
    margin-left: 0;
  }
  @media screen and(max-width: 1080px){
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}
.feature-intro__item{
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  height: 100px;
  span{
    float: left;
    display: block;
    height: 20px;
    width: 60px;
    padding: 20px;
  }
  p{
    font-size: 2.2em;
    width:90%;
    font-weight: 100;
    color: white;
    display: inline;
  }
  @media screen and (max-width: 1080px){
    width: 65%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1019px){
    width: 69%;
    margin: 0 auto;
  }
  @media screen and (max-width: 964px){
    width: 71%;
  }
  @media screen and (max-width: 750px){
    width: 100%;
  }
  @media screen and (max-width: 1660px){
    height: 60px;
    margin-bottom: 20px;
  }
}
.col-left{
  float: left;
  width: 45%;
  margin-right: 10%;
  @media screen and (max-width: 1660px){
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
.col-right{
  float: right;
  width: 45%;
  @media screen and (max-width: 1660px){
    float: none;
    margin-right: 0;
    width: 100%;
  }
}

.intro-text{
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 300px;
  .intro-text__copy{
    margin: 60px 0;

    float: left;
    text-align: center;
    p{
      font-size: 2.2em;
      line-height: 2.1em;
      color: white;
    }
  }
  @media screen and (max-width: 1080px){
    width: 100%;
  }
}

.navigation-mobile{
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
}
.mobile-menu-active{
  display: visible;
}

.comprehensive-tools{
  position: relative;
  float: left;
  background: #39485A;
  display: block;
  width: 100%;
  height: 1200px;
}

.tools-intro{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  h2{
    color: white;
  }
  p{
    font-size: $body-font-size;
    font-weight: 100;
    color: white;
  }
}
.tools-infographics{
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  img{
    width: 1500px;
  }
}
.learn-more{
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.learn-more-btn{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 37px;
  width: 140px;
  height: 38px;
  text-align: center;
  font-size: 1.6em;
  border: 2px solid white;
  margin: 0 auto;
  background: #39485A;
  & a{
    text-decoration: none;
    color: white;
  }
  &:hover{
    background-color: white;
    cursor: pointer;
    a{
      color: #39485A;
    }
  }

}

.featurette{
  position: relative;
  float: left;
  background: white;
  display: block;
  width: 100%;
}
.featurette-content{
  width: 90%;
  margin: 0 auto;
}
.featurette-content__block{
  width: 30%;
  float: left;
  margin-right: 5%;
  height: $featurette-block-height;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
  h3{
    font-weight: 600;
  }
  p{
    color: $body-text-color;
    font-size: 1.8em;
    font-weight: 100;
  }
  @media screen and (max-width: 1280px){
    float: none;
    margin: 0 auto;
    width: 50%;
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.featurette-content__block:last-child{
  margin-right: 0;
  @media screen and (max-width: 1280px){
    margin-right: inherit;
  }
}
.featurette-content__block__image--easy{
  background: url("easy-to-use.jpg") no-repeat center center;
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.featurette-content__block__image--pos{
  background: url("pos.jpg") no-repeat center center;
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.featurette-content__block__image--results{
  background: url("results.jpg") no-repeat center center;
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.featurette-content__block__text{
  height: 300px;
}
.learn-more-btn-blue{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 37px;
  width: 140px;
  height: 38px;
  text-align: center;
  font-size: 1.6em;
  border: 2px solid $baby-blue;
  margin: 0 auto;
  background: none;
  & a{
    text-decoration: none;
    color: $baby-blue;
  }
  &:hover{
    background-color: $baby-blue;
    cursor: pointer;
    a{
      color: white;
    }
  }
}


.credibility{
  position: relative;
  float: left;
  background: blue;
  display: block;
  width: 100%;
  height: 298px;
  @media screen and (max-width: 1236px){
    height: 386px;
  }
  @media screen and (max-width: 662px){
    height: 529px;
  }
}
.credibility__trust{
  display: block;
  background: $baby-blue;
  width: 100%;
  padding-top: 35.5px;
  padding-bottom: 35.5px;
  @media screen and (max-width: 961px){
    height: 133px;
  }
}
.credibility__trust__text{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  p{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: $body-font-size;
  }
}
.credibility__press{
  display: block;
  background: #f7f7f7;
  width: 100%;
  height: 200px;
  @media screen and (max-width: 1236px){
    height: 288px;
  }
  @media screen and (max-width: 662px){
    height: 396px;
  }
}
.credibility__press__text{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  p{
    margin-top: 0;
    margin-bottom: 0;
    color: #d2d2d2;
    font-size: $body-font-size;
    font-style: italic;
    font-weight: 100;
  }
}
.credibility__press__logos{
  display: block;
  text-align: center;
  margin-top: 20px;
  a:first-child{
    margin-left: 0px;
  }
  a{
    margin-left: 10%;
    img{
      @media screen and (max-width: 1236px){
        margin-top: 40px;
      }
    }
  }
  a:last-child{
    @media screen and (max-width: 1236px){
      margin-right: 10%;
      margin-left: 10%;
    }
  }
}

.hero-unit--mission{
  @extend .hero-unit--overview;
  background: url("sfo.jpg") no-repeat center center;
  background-size: cover;
  .hero-unit__form-container p{
    color: white;
    font-size: $body-font-size;
    text-align: center;
  }
}
.hero-unit--mission .hero-unit__form-container{
  margin-top: 60px;
}
.hero-unit--mission .hero-unit__hero-head{
  margin-top: 150px;
}

.footer__logo{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.hero-unit__navigation-links--footer{
  @extend .hero-unit__navigation-links;
  width: 100%;
}
.social-media{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  a{
    margin-right: 5%;
  }
  a:last-child{
    margin-right: 0px;
  }
}

.copyrights{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color: #5F5F5F;
  margin-top: 60px;
}


// Team Page

.meet-the-team{
  position: relative;
  float: left;
  width: 100%;
}
.hero-unit--team{
  @extend .hero-unit--overview;
  background: url("team-hero.jpg") no-repeat center center;
  background-size: cover;
}
.team-members{
  float: left;
  width: 100%;
  margin-top: 40px;
}
.team{
  float: left;
  width: 23.334%;
  height: 500px;
  margin: 0 5% 40px 5%;
  text-align: center;
  @media screen and (max-width: 900px){
    float: none;
    width: 100%;
    margin: 0 0 40px 0;
  }
}

.team__picture-container{
  width:200px;
  height:200px;
  margin: 0 auto;
  img{
    width: 200px;
    height: 200px;
    background: #f2f2f2;
    @include border-radius(50%);
    background-size: contain;
  }
}
.hero-unit--team .hero-unit__hero-head__title p{
  color: white;
  font-size: 2.2em;
  font-style: italic;
}
.team-intro{
  @extend .tools-intro;
  h2{
    color: $charcoal;
  }
}
.team__member-name{
  font-size: 2.2em;
  color: $charcoal;
  margin-top: 20px;
}
.team__member-title{
  font-size: 1.8em;
  color: $light-gray;
}
.team__member-description{
  @extend .team__member-title;
  margin-top: 10px;
}

.hero-unit--team-footer{
  @extend .hero-unit--overview;
  background: url("team-footer.jpg") no-repeat center center;
  background-size: cover;
}

.hero-unit--team-footer .hero-unit__hero-head__title p{
  color: white;
  font-size: $body-font-size;
  text-align: center;
}


// Customers

.hero-unit--customers{
  @extend .hero-unit--overview;
  background: url("restaurant.jpg") no-repeat center center;
  background-size: cover;
}
.hero-unit--customers .hero-unit__hero-head__title p{
  color: white;
  font-size: 2.2em;
  font-style: italic;
}
.customer-focus{
  position: relative;
  float: left;
  height: 357px;
  text-align: center;
  width: 100%;
  background: $bright-orange;
  h3{
    font-style: italic;
    color: white;
    margin-top: 141px;
  }
}
.our-customers{
  position: relative;
  float: left;
  width: 100%;
}
.customer-banner{
  position: relative;
  float: left;
  background: $light-gray;
  height: 436px;
}
.customer-banner__text{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-top: 60px;
  h3{
    color: white;
  }
  p{
    font-size: $body-font-size;
    color: white;
  }
  @media screen and (max-width: 900px){
    width: 90%;
  }
}
.schlotzskys-banner{
  float: left;
  background-size: cover;
  background: url("schlotzskys.jpg") no-repeat center center;
  width: 100%;
}
.capriottis-banner{
  float: left;
  background-size: cover;
  background: url("capriottis.jpg") no-repeat center center;
  width: 100%;
}
.royrogers-banner{
  float: left;
  background-size: cover;
  background: url("royrogers.jpg") no-repeat 45% center;
  width: 100%;
}
.right{
  margin-left: 0;
  margin-right: 5%;
  text-align: right;
  float: right;
}
.customer-testimonials{
  position: relative;
  float: left;
  width: 100%;
  height: 625px;
  background: white;
}
.testimonials{
  margin-left: 10%;
  margin-top: 100px;
  float: left;
  width: 80%;
  background: black;
}
.testimonial-block{
  float: left;
  background-size: cover;
  width: 33.3333333333333%;
  height: 420px;
  .qoute{
    display: none;
  }
  img{
    display: block;
    margin: 0 auto;
    margin-top: 130px;
  }
  p{
    display: none;
  }
  &:hover{
    .qoute{
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      background: url("qoute.png") no-repeat;
      width: 29px;
      height: 37px;
    }
    img{
      display: none;
    }
    p{
      display: block;
      color: white;
      font-size: 1.6em;
      text-align: center;
      padding: 10px;
    }
  }
}

.fb-boys{
  background: #083b33;
}
.sf-soup{
  background: #47992a;
}
.qsr{
  background: #ed1d24;
}

.all-customers{
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 120px;
  img{
    display: block;
    margin: 0 auto;
  }
}
